
.infirmier-card{
    border: 2px;
    max-width: 200px; 
    background-color:#bccf4dc0;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
